<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Profiles</title>
    <link rel="stylesheet" href="../css/style.css">

</head>
<body>
<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup()">×</div>
        <h1>You have selected Leonards Ozols</h1>
        <p>We will contact you with his details shortly.</p>

    </div>
</div>
<div class="container">
    <div class="text">
        <ul  style="list-style-type:none;"  >
            <li class="p1" > Name: EXAMPLE </li>
            <li class="p1" > Age: EXAMPLE </li>
            <li class="p1" > Skills:
                <ul>
                    <li>7/10 EXAMPLE</li>
                    <li>9/10 EXAMPLE</li>
                    <li>5/10 EXAMPLE</li>
                    <li>2/10 EXAMPLE</li>
                </ul>

            </li>

        </ul>
    </div>
    <div class="center">
        <button onclick="togglePopup()" class="button">Select</button>
    </div>
</div>
<!-- partial -->
<script  src="../js/profile.js"></script>

</body>
</html>